<link rel="stylesheet" href="/css/task.css">


<div class="content-box">
    <table>
        <tr>
            <th>head 1</th>
            <th>head 1.1</th>
            <th>head 1.2</th>
            <th>head 1.3</th>
            <th>head 1.4</th>
        </tr>
        <tr>
            <td>Testkurs&nbsp;</td>
            <td>Am Ort</td>
            <td>Kurze Beschreibung</td>
            <td>Uhrzeit</td>
            <td>Uhrzeit (MItteleuropäisch)</td>
        </tr>
        <tr>
            <td>Beispielkurs</td>
            <td>Platz</td>
            <td>Folgende Inhalte</td>
            <td>Zeitpunkt</td>
            <td>Zeitpunkt (in Worten)</td>
        </tr>
    </table>
</div>


<script src="/js/task.js"></script>