<style>
    @font-face {
        font-family: myFirstFont;
        src: url(/fonts/quicksand/Quicksand_Dash.otf);
    }

    .heart{
        position: fixed;top:25%;z-index: 99;
        left:5%
    }
    .hText {
        font-family: myFirstFont;
        position: fixed;
        z-index: 99;
        color: #fff;
        font-size: 3rem;
        font-weight: normal;
        top: 40%;
        left:5%
    }

    .hText p{
        font-family: "Open Sans";
        font-size: 13px;
        width: 85%;
        color: #a5a5a5;
        text-align: justify;
        margin-top: 10px;
    }

    .leftBottomBg{
        text-align: center;
    }

   .right-content{
      background-color: #e2e2e245
   }
</style>


<h2 class="hText">
   <!-- Heart Rate Monitoring System
    <p>Advanced technology makes it possible for you can get information about your heart without interrupting
        your life. Continuous heart monitoring is useful for capturing irregular heartbeats that happen infrequently — in some cases,
        you may not even feel any symptoms. Depending on your situation, your doctor may recommend heart monitoring.</p>-->
</h2>

<div style="text-align: center;padding-top: 5%">
<img src="/images/tank.svg" style="width: 50%" />
</div>