




<div id="sideNavBar" style=" background-color:black " >
    <div class="sidebar" style="">
        <ul class="nav" style="margin-bottom: 50px" >
            <li class="has-sub sideMain dashMenu">
                <a href="/dashboard">
                    <img src="/images/dashboard.svg" style="width: 28px;margin-right: 5px;"/>
                    <span style="color:whitesmoke ; font-family:Times New Roman, Times, serif">Dashboard</span>
                </a>
                </li>
            <li class="has-sub sideMain dashMenu">
                <a href="/usermanagement">
                    <img src="/images/user.svg" style="width: 28px;margin-right: 5px;"/>
                    <span style="color:whitesmoke ; font-family:Times New Roman, Times, serif">User Management</span>
                </a>
            </li>
            <li class="has-sub sideMain dashMenu">
                <a href="/wash-management">
                    <img src="/images/boodskap/download.jpeg" style="width: 28px;margin-right: 5px;"/>
                    <span style="color:whitesmoke; font-family:Times New Roman, Times, serif">Project Management</span>
                </a>
            </li>
            <li class="has-sub sideMain dashMenu">
                <a href="/task-management">
                    <img src="/images/boodskap/images.jpeg" style="width: 28px;margin-right: 5px;"/>
                    <span style="color:whitesmoke; font-family:Times New Roman, Times, serif">Task Management</span>
                </a>
            </li>

        </ul>
    </div>
</div>